# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
package-lock.json
package.json
node_modules
dist
dist-ssr
*.local
SIT313 9.2d.pdf
displayed-pdf(3).pdf
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
firebase.ts
.netlify/
.vercel/
